PORT=3000
SITE_ORIGIN=https://emm.yeetserver.org
API_BASE_URL=https://emm-api.yeetserver.org
TZ=Asia/Colombo
DEV_FAKE_CALENDAR=
PAYHERE_SANDBOX=true
PAYHERE_MERCHANT_ID=1238241
PAYHERE_MERCHANT_SECRET=MTAyMjE2ODk5MjIyMTEwMjg3NjUxMjQzMjE3Njg0MzM5ODQwMzg1OA==
GOOGLE_SERVICE_ACCOUNT_JSON=/run/secrets/google-sa.json
SMTP_URL=
MAIL_FROM=EMM <bookings@example.com>
DB_PATH=/data/bookings.db
